
<nav class="navbar navbar{-sm|md|-lg|-xl|-xxl} navbar-light bg-light justify-content-between" style= "height :10vh">
  <div class="navbar-brend nav-logo" >
    <%= link_to 'Evels Tokyo', "/", class: " logo" %>
  </div>
</nav>