// ヘッダーCSS
.logo {
  font-size: 2.2vw;
  font-family: sans-serif;
  margin-left: 40px;
  letter-spacing: 0.08em;
  font-weight: 150;
}

.nav-logo {
  margin: 0 0 0 20px;
}

.nav-right {
  margin-right: 50px;
  font-style:inherit;
}

.btn-white:hover {
  opacity: 0.6;
}