<%= render "shared/second-header" %>
<div class="">
  <p class="">
    会場レビューが完了しました
  </p>
  <ul class="">
    <li class="">
      <%= link_to "もとのページへもどる", place_path(@place.id) %>
    </li>
    <li class="">
      <%= link_to "トップページへもどる", "/" %>
    </li>
  </ul>
</div>