/* .top-page-header {
  background-color: rgb(163, 163, 219);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left, .header-right {
  margin: 50px;
}

.header-right {
  display: flex;
}

.new-room,.user-name,.logout,.login,.sign-up {
  padding: 20px;
}
a {
  text-decoration: none;
} */

