<%= render "shared/header" %>
<div class="devise-container  bg-light"> 
  <div class="devise-main-sign-up">
    <div class=" devise-title d-flex align-items-center">
      <p class="">会場レビューが完了しました</p>
    </div>
  </div>
  <div class="devise-form-container d-flex align-items-center"> 
    <div class="">
      <%= link_to "もとのページへもどる", place_path(@place.id) %>
    </div>
    <div class="">
      <%= link_to "トップページへもどる", "/" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>