<%= render "shared/header" %>
<div class="place-create-body vw-100 bg-light d-flex  justify-content-center ">
  <div class="place-create-contents bg-white">
    <div class="place-create-main">
        <p class="place-create-title" style="font-family: serif"> 
            <%= @place.place_name %><br/><span>レビュー編集</span>
        </p>
        <%= render "shared/review_form" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>